<style>
  :host {
    display: block;
    margin: 0 auto;
    width: 900px;
  }
  p {
    font-size: 1.4rem;
  }
</style>

<orxe-card>
  <orxe-card>
    <p>Donut Rating Example</p>
    <orxe-rating-bar
      type="donut"
      label="Location"
      rating="29.123343"
    ></orxe-rating-bar>
  </orxe-card>

  <orxe-card>
    <p>Linear Rating Example</p>
    <orxe-rating-bar
      type="linear"
      label="Experience"
      rating="71"
    ></orxe-rating-bar>
  </orxe-card>
</orxe-card>

<orxe-card>
  <orxe-counter value="5" max="10"></orxe-counter>
</orxe-card>

<orxe-card>
  <orxe-accordion id="accordion" type="fullStretched">
    <orxe-expansion-panel>
      <div slot="panel-title">
        <span>Expansion Panel 1</span>
      </div>
      <div slot="panel-content">
        <p>Content 1</p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae
          officia. Iste, neque.
        </p>
      </div>
    </orxe-expansion-panel>

    <orxe-expansion-panel>
      <div slot="panel-title">
        <span>Expansion Panel 2</span>
      </div>
      <div slot="panel-content">
        <p>Content 2</p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
    </orxe-expansion-panel>
  </orxe-accordion>
</orxe-card>
